:root {
  --cor-primaria: #34a0df;
  --cor-secundaria: #b9c1ed;
  --fonte-principal: 'Arial', sans-serif;
}

body {
  font-family: var(--fonte-principal);
  margin: 0;
  background-color: var(--cor-secundaria);
  color: #121212;
}

header {
  background-color: var(--cor-primaria);
  color: rgb(161, 159, 159);
  padding: 2rem 1rem;
  text-align: center;
}
header p {
  font-size: 1.5rem; /* exemplo: aumenta o tamanho da fonte */
  line-height: 1.5;  /* para melhor leitura */
}

header img {
  max-width: 300px;
  width: 30%;  /* menor que 60% */
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Galeria (à esquerda) */
.galeria {
  flex: 1;
  min-width: 300px;
}

.galeria h2 {
  margin-bottom: 1rem;
}

.foto {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/* Biografia (à direita) */
.biografia {
  flex: 2;
  min-width: 300px;
  text-align: justify;
}

h2 {
  color: var(--cor-primaria);
}

/* Contato */
.contato {
  width: 100%;
  margin-top: 3rem;
}

.contato h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  margin: 0 auto;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #c1f2c1;
  border-radius: 4px;
}

button {
  background-color: var(--cor-primaria);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #bbbfdd;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .galeria,
  .biografia {
    width: 100%;
    text-align: center;
  }

  .biografia {
    text-align: left;
  }
}
